<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editando Usuário</title>
</head>
<body>
    <form method="post">
        Nome: <input value="<%=pedido.nome%>" type="text" name="nome" placeholder="Digite seu nome!"><br>
        Telefone: <input value="<%=pedido.telefone%>" type="text" name="telefone" placeholder="Digite seu telefone!"><br>
        Cpf: <input value="<%=pedido.cpf%>" type="text" name="cpf" placeholder="Digite seu cpf!"><br>
        Datapedido: <input value="<%=pedido.datapedido%>" type="date" name="datapedido" placeholder="Digite o dia de hoje!"><br>
        Dataentrega: <input value="<%=pedido.dataentrega%>" type="date" name="dataentrega" placeholder="Para quando queres o pedido?"><br>
        <input type="submit" value="Enviar">
    </form>
</body>
</html>