<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listagem dos pedidos</title>
</head>
<body>
    <h1>Listagem de pedidos </h1>
    <p>
        <a href="/pedido/add">Adicionar</a>
    </p>
    <form method="post">
        <input type="text" name="pesquisar">
        <input type="submit" value="Pesquisar">
    </form>
    <table>
        <tr>
            <th>Id</th>
            <th>Nome</th>
            <th>Telefone</th>
            <th>Cpf</th>
            <th>Datapedido</th>
            <th>Dataentrega</th>
            <th>Editar</th>
            <th>Excluir</th>
        </tr>
        <% Pedidos.forEach((pedido)=>{ %>
        <tr>
            <td><%=pedido.id%></td>
            <td><%=pedido.nome%></td>
            <td><%=pedido.telefone%></td>
            <td><%=pedido.cpf%></td>
            <td><%=pedido.datapedido%></td>
            <td><%=pedido.dataentrega%></td>
            
            
            <td>
                <a href="/pedido/edt/<%=pedido.id%>">Editar</a>
            </td>
            <td>
                <a href="/pedido/del/<%=pedido.id%>">Deletar</a>
            </td>
        </tr>
        <% }) %>
    </table>
</body>
</html>