<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editando Usuário</title>
</head>
<body>
    <form method="post">
        Massa: <input value="<%=bolo.massa%>" type="text" name="massa" placeholder="Insira a massa do bolo!"><br>
        Recheio um: <input value="<%=bolo.recheioum%>" type="recheioum" name="telefone" placeholder="Insira recheio 1!"><br>
        Recheio dois: <input value="<%=bolo.recheiodois%>" type="rechiodois" name="cpf" placeholder="Insira o recheio 2!"><br>
        Kilos: <input value="<%=bolo.kilos%>" type="text" name="kilos" placeholder="Insira o peso do bolo!"><br>
        Cobertura: <input value="<%=bolo.cobertura%>" type="text" name="cobertura" placeholder="Insira a cobertura!"><br>
        <input type="submit" value="Enviar">
    </form>
</body>
</html>